@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-nav a{
  font-family: 'Montaga', serif;
  color: #495057;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.nav-link:focus, .nav-link:hover {
  color: #F88F8F;
}

.form-control{
  border: none;
  background-color: transparent;
}

.buscador{
  background-color: #F1D4CE;
  height: 60px;
  width: 300px;
  border-radius: 27px;
  padding: 20px;
}

.contador{
  position: absolute;
  background-color: #FF77AB;
  border-radius: 50%;
  width: 35px;
  bottom: 0px;
  right: 20px;
  font-size: 23px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}

#navbar-contenedor{
  display: flex;
  align-items: center;
}

.welcome{
  background-color: #FFBABA;
  padding: 15px 0 ;
}

.welcome h1{
  color: #FFFFFF;
  letter-spacing: 8px;
  font-size: 24px;
}

.form-control:focus {
  color: #495057;
  background-color: transparent;
  border-color: transparent;
  outline: none; 
  box-shadow: none;
}

.dropdown-item.active, .dropdown-item:active {
  color: #FFFFFF; 
  text-decoration: none;
  background-color:  #FFBABA;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #FFFFFF;
  background-color:#FFBABA;
}

.btnCount{
  background-color: #FFBABA;
  font-family: 'Concert One', cursive;
  color: #FFFFFF;
  font-size: 19px;
  text-transform: uppercase;
  border: 2px solid rgb(0, 0, 0, 0.2);
  border-radius: 20px;
  box-shadow: 3px 3px 3px -3px rgba(0, 0, 0, 0.4);
  padding: 0 10px;
}

.button{
  background-color: #FFBABA;
  font-family: 'Concert One', cursive;
  color: #FFFFFF;
  letter-spacing: 2px;
  font-size: 20px;
  text-transform: uppercase;
  border: 2px solid rgb(0, 0, 0, 0.2);
  border-radius: 20px;
  box-shadow: 4px 4px 4px -3px rgba(0, 0, 0, 0.4);
  padding: 5px 15px;
}

.btn:hover {
  color: #F88F8F;
  background-color:rgb(255, 255, 255);
  border-color: #F88F8F;
}

.hover{
  display: none;
}

.lista:hover > img{
  display: block;
  position: absolute;
  padding-top: 30px
}

.lista:hover > a {
  color: #F88F8F;
}

.nav-link{
  padding: 0;
}

.encabezado{
  color: #FF8E7B;
  border-bottom: 1px solid #FF8E7B;
  text-transform: uppercase;
  font-family: 'Concert One', cursive;
  letter-spacing: 6px;
  font-weight: 600;
  padding: 5px;
}

.contenedor{
  border: 2px solid rgb(220, 219, 218, 0.5);
  box-shadow: 6px 6px 6px -3px rgba(0, 0, 0, 0.1);
  padding-bottom: 30px;
}

.botonDetail{
  color: #FFFFFF;
  text-decoration: none;
}

.botonDetail:hover{
  color: #FFFFFF;
}

.botonPrincipal:hover{
  background-color: #FF77AB;
  color: #FFFFFF;
}

.itemDetail{
  width: 900px;
}

.user{
  background-color: #F1D4CE;
  padding: 10px 0 ;
}

:focus-visible {
  outline: none;
}

.logo{
  width: 160px;
}

.bolsa{
  width: 70px;
}

.formularioControl{
  background-color: #F1D4CE;
  height: 40px;
  width: 300px;
  padding: 20px;
}

.formulario{
  border: 2px solid rgb(220, 219, 218, 0.5);
  box-shadow: 6px 6px 6px -3px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.formularioControl:focus {
  color: #FFFFFF;
  background-color: #FF77AB;
  border-color: transparent;
  outline: none;
  box-shadow: none;
}

.textarea{
  height: 150px;
}
